[submodule ".registry"]
	path = .registry
	url = https://github.com/travisjakel/travisjakel.r-universe.dev
	branch = HEAD
[submodule "okf"]
	path = okf
	url = https://github.com/travisjakel/okf-ingest
	subdir = r/okf
